html {
  font-family: Helvetica, sans-serif;
}

h1 {
  color: DarkGreen;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg');
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}


.brushes {
  color: white;
  background-color: mediumspringgreen;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}

h4 {
  font-weight: bold;
  font-size: 24px;
}

.bluetext {
  color: blue;
}

.frames {
  color: white;
  background-color: lightcoral;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}

.paint {
  color: white;
  background-color: skyblue;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
